@charset "UTF-8";

html {
    box-sizing: border-box;
    height: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Dosis', sans-serif;
    font-display: swap;
    background-image: linear-gradient(320deg, #61B593, #4A6D8C,#232F40 );
    height: inherit;
    align-items: center;
    display: flex;
    justify-content: center;
}

/*-------------------------------------------------------------------------------*/

main {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    
    border-radius: 40px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);

    color: #232323;

    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background-color: rgba(255, 255, 255, 0.30);
    border: 1px solid rgba(0, 0, 0, 0.34);

    flex-basis: 400px;
    height: 540px;
    padding: 20px 35px;
}

/*-------------------------------------------------------------------------------*/

.visor {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background-color: rgba(255, 255, 255, 0.75);

    border: 1px solid rgba(35, 35, 35, 0.1);
    border-radius: 25px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);

    color: #232323;
    font-size: 35px;
    text-align: right;

    overflow: auto;
    padding: 20px;
    width: 325px;
}

/*-------------------------------------------------------------------------------*/

.linhaBotao {
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
}

.botao {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background-color: rgba(255, 255, 255, 0.75);

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    box-shadow: 0 4px 40px rgba(35, 35, 35, 0.1);

    flex-basis: 20%;
    font-family: inherit;
    font-size: 25px;
    height: 65px;
}

.botao:hover {
    background-color: inherit;
}

.botao:active {
    background-color: #6eaf95d5;
}

.botao:last-child {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background-color: rgba(255, 255, 255, 0.75);

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);

    color: white;
    background-color: #232F40;
}

.botao:last-child:hover {
    background-color: inherit;
    color: inherit;
}

.duplo {
    flex-basis: 47%;
}

.triplo {
    flex-basis: 73%;
}